<div class="overflow-x-auto relative shadow-md sm:rounded-lg mt-10">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-white uppercase bg-blue-500 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th class="py-3 px-6">Batch</th>
      <th class="py-3 px-6">Size Grouping</th>
<!--      <th class="py-3 px-6">Dubbot Id</th>-->
      <th class="py-3 px-6">Name</th>
      <th class="py-3 px-6">Pages</th>
      <th class="py-3 px-6">Score</th>
      <th class="py-3 px-6">Broken Links</th>
      <th class="py-3 px-6">Accessibility Issues</th>
      <th class="py-3 px-6">Misspellings</th>
<!--      <th class="py-3 px-6">Flagged Words</th>-->
      <th class="py-3 px-6">Last Crawled On</th>
      <th class="py-3 px-6"></th>
    </tr>
    </thead>
    <tbody>
    <% scans.group_by { |s| s.size_grouping }.each do |size_grouping, scans| %>
      <%= render scans, size_grouping: size_grouping %>
    <% end %>
    </tbody>
  </table>
</div>
