<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Systems</h1>
    <%= link_to 'New system', new_system_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="systems" class="min-w-full">

    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3 px-6">
            System name
          </th>
          <th scope="col" class="py-3 px-6">
            Site Count
          </th>
          <th scope="col" class="py-3 px-6">
            Notes
          </th>
          <th scope="col" class="py-3 px-6">
            Tools
          </th>
        </tr>
        </thead>
        <tbody>
          <%= render @systems %>
        </tbody>
      </table>
    </div>

  </div>
</div>
