<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
  <tr>
    <%= content_tag :th, 'System', scope: 'col', class: 'py-3 px-6' unless controller_name == 'systems' %>
    <th scope="col" class="py-3 px-6">Dubbot ID</th>
    <th scope="col" class="py-3 px-6">Name</th>
    <th scope="col" class="py-3 px-6">URL</th>
    <th scope="col" class="py-3 px-6">Scans</th>
    <th scope="col" class="py-3 px-6"></th>
  </tr>
  </thead>
  <tbody>
  <%= render sites %>
  </tbody>
</table>
