<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-white uppercase bg-blue-500 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <%= content_tag :th, 'System', scope: 'col', class: 'py-3 px-6' unless controller_name == 'systems' %>
      <th scope="col" class="py-3 px-6">Dubbot ID</th>
      <th scope="col" class="py-3 px-6">Name</th>
      <th scope="col" class="py-3 px-6">URL</th>
      <th scope="col" class="py-3 px-6">Scans</th>
      <% if user_signed_in? %>
        <th scope="col" class="py-3 px-6"></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <%= render sites %>
    </tbody>
  </table>
</div>
